h1{
    color: white;
    font-size: 2rem;
    text-align: center;
}

h2{
    color: white;
    font-size: 2rem;
    text-align: center;
}

main {
    display: grid;
    border: 2px solid darkgray;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
}
  
app-square {
    border: 1px gray solid;
    height: 100px;
}

.new-game{
    display: flex;
    justify-content: center;
    padding: 5% 0;
}